* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 9em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  line-height: 4em;
}

h3 {
  font-size: 4.2em;
  text-align: center;
}

h4 {
  font-size: 1.5em;
  letter-spacing: 0.4px;
}

h5 {
  font-size: 1.2em;
}

/* Background Colors */

.background-dark {
  background-color: rgb(25, 33, 41);
  color: white;
}

/* NavBar */

.nav-bar {
  background-color: rgb(25, 33, 41);
  padding: 14px 0;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.nav-bar-ul {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar-ul li {
  list-style-type: none;
  text-align: center;
}

/* Header Section */

.header {
  background-image: url(images/bg-bikes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  padding-top: 50px;
}

.header h2 {
  color: white;
  text-shadow: #020819 8px -10px 5px;
}

.quote-header {
  font-size: 2.5em;
  color: white;
  padding: 70px 30px 0 0;
  float: right;
}

.logo-header {
  width: 13%;
}

/* Products Section */

#products {
  display: flex;
  justify-content: space-evenly;
}

#products .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 75px 0;
}

.text {
  font-size: 1.8em;
  font-weight: 100;
  text-align: center;
  margin-top: 20px;
}

.butn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 2em;
  background: #43a3e6;
  padding: 10px 20px 10px 20px;
  margin-top: 30px;
  text-decoration: none;
}

.butn:hover {
  background: #028ded;
  background-image: -webkit-linear-gradient(top, #028ded, #3498db);
  background-image: -moz-linear-gradient(top, #028ded, #3498db);
  background-image: -ms-linear-gradient(top, #028ded, #3498db);
  background-image: -o-linear-gradient(top, #028ded, #3498db);
  background-image: linear-gradient(to bottom, #028ded, #3498db);
  text-decoration: none;
}

/* Buit-It Section */

#built-it {
  font-size: 1.7em;
  text-align: center;
}

#built-it > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.services-box {
  border: 2px solid #eeeeee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eeeeee;
  margin: 50px 5% 0 5%;
  padding: 20px;
  width: 40%;
}

.services-box img {
  width: 125px;
}

/* Team Section */

#our-team {
  padding: 75px 0;
  margin: 0 auto;
  text-align: center;
}

.team-description h3 {
  padding: 5%;
}

.team-description img {
  width: 100px;
}

#our-team p {
  width: 60%;
  margin: 10px auto;
  font-size: 2em;
  font-weight: 100;
}

.division-header-team {
  margin: 30px auto 30px auto;
  width: 40%;
}

.division-team {
  border-style: none;
  border-top-style: dotted;
  border-color: rgba(255, 255, 255, 0.158);
  border-width: 1.8em;
  width: 10%;
  margin: 7% auto 5%;
}
/* Footer Section */

.footer {
  font-size: 2.2em;
  font-style: normal;
  text-align: center;
  padding: 40px 100px;
  margin-bottom: 25px;
}

.footer i {
  margin: 20px 15px;
}

/* Register Form */

.register-form {
  background-image: url(images/bike.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slot-form-container {
  color: rgb(25, 33, 41);
  width: 60%;
  margin: 12px auto 0 auto;
  font-size: 1.5em;
  text-align: center;
}

.slot-form-container label {
  line-height: 15px;
  margin: 5px;
}

.slot-form-container input, select {
  height: 25px;
  outline: none;
  padding: 3px;
  width: 40%;
}

.register-btn {
  margin-left: 45%;
}

.header-register {
  margin: 4% 0;
}

.sign-up-register {
  text-align: center;
  font-size: 2.4em;
  margin-bottom: 5%;
  color: rgb(25, 33, 41);
}